{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="login-container">
    <div class="login-box">
        <h2>Login</h2>
        <div>
            <a class="login-button" href="{{ url_for('user.user_authorize_google') }}">
                <img src="{{ url_for('static', filename='img/signin-assets/google.svg') }}">
                Login with Google
            </a>
            {# <a class="login-button" href="{{ url_for('user.user_authorize_facebook') }}">
                <img src="{{ url_for('static', filename='img/signin-assets/facebook.svg') }}">
                Login with Facebook
            </a> #}
            <a class="login-button" href="{{ url_for('user.user_account_local') }}">
                <div><i class="fa-solid fa-user fa-lg"></i></div>
                Use test credentials
            </a>
        </div>
    </div>
</div>
{% endblock %}