{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="login-container" x-data="{ test: false }">
    <div class="login-box">
        <h2>Login</h2>
        <div x-show="!test">
            <a class="login-button" href="{{ url_for('user.user_authorize_google') }}">
                <img src="{{ url_for('static', filename='img/signin-assets/google.svg') }}">
                Login with Google
            </a>
            <a class="login-button" href="{{ url_for('user.user_authorize_facebook') }}">
                <img src="{{ url_for('static', filename='img/signin-assets/facebook.svg') }}">
                Login with Facebook
            </a>
            <a class="login-button" href="#" @click="test = !test">
                <div><i class="fa-solid fa-user fa-lg"></i></div>
                Use test credentials
            </a>
        </div>
        <div x-show="test">
            <form action="{{ url_for('user.user_account_login') }}" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" required>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
                <button type="submit" class="test-login-button">Login</button>
                <p class="error-text">{{ error_msg }}</p>
            </form>
            <a href="{{ url_for('user.user_account_create') }}"><button type="submit" class="test-signup-button">Create account</button></a>
        </div>

    </div>
</div>
{% endblock %}