webserver:
  host: "localhost"
  port: 8080

database:
  host: "localhost"
  port: 5432
  user: "tutortime"
  password: "tutortime"
  dbname: "db"

oauth:
  google:
    client_id: ""
    client_secret: ""