{% extends "home.html" %}
{% block content %}
    <div x-data="{  category: 'all' }">
        <div class="service-category-box">
            <label>Category: </label>
            <select x-model="category">
                <option value="all">All</option>
                <option value="language">Language learning</option>
                <option value="software">Software development</option>
                <option value="music">Music lessons</option>
                <option value="wellness">Wellness (i.e. meditation, yoga)</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="grid-container">
            {% for service in services %}
                <div class="post" x-show="'{{ service.category }}' == category || 'all' == category" >
                    <img src="/static/img/terminal.jpg" alt="Post 1">
                    <h3>{{ service.title }}</h3>
                    <p>{{ service.description }}</p>
                    <p>{{ service.username }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
