{% extends "home.html" %}
{% block content %}
    <div x-data="{  category: 'all' }">
        <div id="service-category-box">
            <label>Category: </label>
            <select x-model="category">
                <option value="all">All</option>
                <option value="language">Language learning</option>
                <option value="software">Software development</option>
                <option value="music">Music lessons</option>
                <option value="wellness">Wellness (i.e. meditation, yoga)</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="post-grid-container">
            {% for service in services %}
                <div class="post" x-show="'{{ service.category }}' == category || 'all' == category" x-data="{ image: 0 }">
                    <a href="{{ url_for('service.service_display', service_id=service.id) }}">
                        <div class="image-container">
                            {% if service['images'] == [] %}
                                <img src="/static/img/terminal.jpg" alt="Default thumbnail">
                            {% else %}
                                {% for i in range(service.images|length) %}
                                    <img x-show="image == {{ i }}" src="/{{ service.images[i].path }}" alt="{{ service.images[i].filename }}">
                                {% endfor %}
                                {% if service.images|length > 1 %}
                                    <button class="image-prev" @click.prevent="image = image == 0 ? {{ service.images|length }} - 1 : (image - 1)"><i class="fa-regular fa-circle-left fa-2x"></i></button>
                                    <button class="image-next" @click.prevent="image = (image + 1) % {{ service.images|length }}"><i class="fa-regular fa-circle-right fa-2x"></i></button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </a>
                    <a href="{{ url_for('service.service_display', service_id=service.id) }}">
                        <h3>{{ service.title }}</h3>
                    </a>
                    <p class="truncated-text">{{ service.description }}</p>
                    <p>{{ service.user.username }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
