{% extends "home.html" %}

{% block title %}Signup{% endblock %}
{% block content %}
<div class="service-creation-box">
    {% if service.get('title') == None %}
    <form action="{{ url_for('user_service_create') }}" method="POST" enctype="multipart/form-data">
    {% else %}
    <form action="{{ url_for('user_service_update', service_id=service.id) }}" method="POST" enctype="multipart/form-data">
    {% endif %}
        <table class="service-creation-table">
            <tbody>
                <tr>
                    <td>
                        <label for="title">Title:</label>
                    </td>
                    <td>
                        <textarea id="service-title" rows="1" cols="120" name="title" required>{{ service.get('title', '') }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="description">Description:</label>
                    </td>
                    <td>
                        <textarea id="service-description" rows="7" cols="120" name="description" required>{{ service.get('description', '') }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="category">Category:</label>
                    </td>
                    <td>
                        <select name="category" required>
                            {% if service.get('category') == None %}
                                <option value="" disabled selected>Select a category</option>
                            {% else %}
                                <option value="" disabled>Select a category</option>
                            {% endif %}
                            
                            {% if service.get('category') == 'language' %}
                                <option value="language" selected>Language learning</option>
                            {% else %}
                                <option value="language">Language learning</option>
                            {% endif %}
                            
                            {% if service.get('category') == 'software' %}
                                <option value="software" selected>Software development</option>
                            {% else %}
                                <option value="software">Software development</option>
                            {% endif %}

                            {% if service.get('category') == 'music' %}
                                <option value="music" selected>Music lessons</option>
                            {% else %}
                                <option value="music">Music lessons</option>
                            {% endif %}

                            {% if service.get('category') == 'wellness' %}
                                <option value="wellness" selected>Wellness (i.e. meditation, yoga)</option>
                            {% else %}
                                <option value="wellness">Wellness (i.e. meditation, yoga)</option>
                            {% endif %}
                            
                            {% if service.get('category') == 'other' %}
                                <option value="other" selected>Other</option>
                            {% else %}
                                <option value="other">Other</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Availability:</td>
                    <td>
                        <table class="availability-table">
                            <thead>
                                <tr>
                                    <td>   </td>
                                    <td>Mon</td>
                                    <td>Tue</td>
                                    <td>Wed</td>
                                    <td>Thu</td>
                                    <td>Fri</td>
                                    <td>Sat</td>
                                    <td>Sun</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>morning</td>
                                    {% for i in range(7) %}
                                        {% if i|string ~ '-0' in service.available %}   
                                            <td><input type="checkbox" name="{{ i }}-0" checked></td>
                                        {% else %}
                                            <td><input type="checkbox" name="{{ i }}-0"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>afternoon</td>
                                    {% for i in range(7) %}
                                        {% if i|string ~ '-1' in service.available %}
                                            <td><input type="checkbox" name="{{ i }}-1" checked></td>
                                        {% else %}
                                            <td><input type="checkbox" name="{{ i }}-1"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>evening</td>
                                    {% for i in range(7) %}
                                        {% if i|string ~ '-2' in service.available %}   
                                            <td><input type="checkbox" name="{{ i }}-2" checked></td>
                                        {% else %}
                                            <td><input type="checkbox" name="{{ i }}-2"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Upload images:</td>
                    <td><input type="file" name="images" accept="image/png, image/jpeg" multiple/></td>
                </tr>
            </tbody>
        </table>
        <div id="create-service-button-container">
            {% if service %}
                <button type="submit" id="create-service-button">Update service</button>
            {% else %}
                <button type="submit" id="create-service-button">Create service</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}