<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/a1cbf6357e.js" crossorigin="anonymous"></script>
    <title>Tutortime - {% block title%} {% endblock %}</title>
  </head>
  <body>
    <h1 id="logo">Tutortime</h1>
    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}
  </body>
  <footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </footer>
</html>