{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block navbar %}
<table class=nav-table>
    <thead>
        <tr>
            <th><a href="{{ url_for('service_list') }}"><h3>Take<br>lessons</h3></a></th>
            <th><a href="{{ url_for('user_service_list', status='active') }}"><h3>Give<br>lessons</h3></a></th>
            <th><a href="{{ url_for('about') }}"><h3>About</h3></a></th>
            
            <th>
            {% if session.get("username", None) != None %}
                <a href="{{ url_for('user_calendar_list') }}"><i class="fa-regular fa-calendar-days fa-lg"></i></a>
                <a href="{{ url_for('user_messages_list') }}"><i class="fa-regular fa-paper-plane fa-lg"></i></a>
                <a href="" id="modal-popout-trigger"><i class="fa-regular fa-user fa-lg"></i></a>
                <div class="modal-container">
                    <div id="modal-popout" style="display: none">
                        <ul>
                            <li><a href="#">Profile</a></li>
                            <li><a href="{{ url_for('user_account_logout') }}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <a href="{{ url_for('user_account_login') }}"><i class="fa-regular fa-user fa-lg"></i></a>
            {% endif %}
            </th>
        </tr>
    </thead>
</table>
<hr>
{% endblock %}
