{% extends "home.html" %}
{% block content %}
    <div x-data="{ month: 12 }">
        <div class="calendar-control">
            <a href="" x-show="month != 0" @click.prevent="month = month == 0 ? month : month - 1"><i class="fa-solid fa-chevron-left"></i></a>
            {% for i in range(calendar|length) %}
                <span class="calendar-control-date" x-show="month == {{ i }}">{{ calendar[i]["month_name"] }}</span>
            {% endfor %}
            <a href="" x-show="month != 24" @click.prevent="month = month == 24 ? month : month + 1"><i class="fa-solid fa-chevron-right"></i></a>
            {% for i in range(calendar|length) %}
                <span class="calendar-control-date" x-show="month == {{ i }}">{{ calendar[i]["year"] }}</span>
            {% endfor %}
            <span class="calendar-control-legend">
                <span class="calendar-control-legend-tutor"><i class="fa-solid fa-square"></i> - Tutor</span>
                <span class="calendar-control-legend-student"><i class="fa-solid fa-square"></i> - Student</span>
            </span>
        </div>
        {% for i in range(calendar|length) %}
            <div class="calendar" x-show="month == {{ i }}">
                <span class="day-name">Mon</span> 
                <span class="day-name">Tue</span> 
                <span class="day-name">Wed</span> 
                <span class="day-name">Thu</span> 
                <span class="day-name">Fri</span> 
                <span class="day-name">Sat</span> 
                <span class="day-name">Sun</span>
                {% for j in range(calendar[i]["month_offset"]) %}
                    <div class="day day-disabled"></div>
                {% endfor %}
                {% for j in range(1,calendar[i]["month_length"]+1) %}
                    {% if i == 12 and j == today %}
                        <div class="day day-today">
                    {% else %}
                        <div class="day">
                    {% endif %}
                            {{ j }}
                            {% for service in calendar[i]["services"] %}
                                {% if service.day == j %}
                                        <div class="calendar-task-container" x-data="{ modal: false }">
                                        {% if service.is_tutor %}
                                            <button class="task task-tutor" x-on:click="modal = ! modal">
                                        {% else %}
                                            <button class="task task-student" x-on:click="modal = ! modal">
                                        {% endif %}
                                                <b>{{ service.start_time }} - {{ service.end_time }}</b><br>{{ service.title }}
                                            </button>
                                            {% if (j + calendar[i]["month_offset"] - 1) % 7 < 4 %}
                                                <span class="calendar-task-modal-left" x-show="modal">
                                            {% else %}
                                                <span class="calendar-task-modal-right" x-show="modal">
                                            {% endif %}
                                                    <h3>{{ service.title }}</h3>
                                                    <p>Time: {{ service.start_time }} - {{ service.end_time }}</p>
                                                    <p>Description: {{ service.description }}</p>
                                                    <p>Tutor: {{ service.tutorName }}</p>
                                                    <p>Student: {{ service.studentName }}</p>
                                                </span>
                                        </div> 
                                {% endif %}
                            {% endfor %} 
                        </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}