{% extends "home.html" %}

{% block title %}Signup{% endblock %}
{% block content %}
<div id="user-service-creation">
    {% if service %}
    <form action="{{ url_for('services.user_service_update', service_id=service.id) }}" method="POST" enctype="multipart/form-data">
    {% else %}
    <form action="{{ url_for('services.user_service_create') }}" method="POST" enctype="multipart/form-data">
    {% endif %}
        <table id="service-creation-table">
            <tbody>
                <tr>
                    <td>
                        <label for="title"><i class="fa-solid fa-asterisk fa-2xs error-text"></i> Title:</i></label>
                    </td>
                    <td>
                        <textarea id="service-title" rows="1" cols="120" name="title" required>{{ service.title if service }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="description"><i class="fa-solid fa-asterisk fa-2xs error-text"></i> Description:</label>
                    </td>
                    <td>
                        <textarea id="service-description" rows="7" cols="120" name="description" required>{{ service.description if service }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="category"><i class="fa-solid fa-asterisk fa-2xs error-text"></i> Category:</label>
                    </td>
                    <td>
                        <select name="category" required>
                            <option value="" disabled>Select a category</option>
                            
                            {% if service and service.category == "language" %}
                                <option value="language" selected>Language learning</option>
                            {% else %}
                                <option value="language">Language learning</option>
                            {% endif %}
                            
                            {% if service and service.category == "software" %}
                                <option value="software" selected>Software development</option>
                            {% else %}
                                <option value="software">Software development</option>
                            {% endif %}

                            {% if service and service.category == "music" %}
                                <option value="music" selected>Music lessons</option>
                            {% else %}
                                <option value="music">Music lessons</option>
                            {% endif %}

                            {% if service and service.category == "wellness" %}
                                <option value="wellness" selected>Wellness (i.e. meditation, yoga)</option>
                            {% else %}
                                <option value="wellness">Wellness (i.e. meditation, yoga)</option>
                            {% endif %}
                            
                            {% if service and service.category == "other" %}
                                <option value="other" selected>Other</option>
                            {% else %}
                                <option value="other">Other</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Availability:</td>
                    <td>
                        <table class="availability-table">
                            <thead>
                                <tr>
                                    <td>   </td>
                                    <td>Mon</td>
                                    <td>Tue</td>
                                    <td>Wed</td>
                                    <td>Thu</td>
                                    <td>Fri</td>
                                    <td>Sat</td>
                                    <td>Sun</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>morning</td>
                                    {% for i in range(7) %}
                                        {% if i|string ~ '-0' in availability %}   
                                            <td><input type="checkbox" name="{{ i }}-0" checked></td>
                                        {% else %}
                                            <td><input type="checkbox" name="{{ i }}-0"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>afternoon</td>
                                    {% for i in range(7) %}
                                        {% if i|string ~ '-1' in availability %}
                                            <td><input type="checkbox" name="{{ i }}-1" checked></td>
                                        {% else %}
                                            <td><input type="checkbox" name="{{ i }}-1"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>evening</td>
                                    {% for i in range(7) %}
                                        {% if i|string ~ '-2' in availability %}   
                                            <td><input type="checkbox" name="{{ i }}-2" checked></td>
                                        {% else %}
                                            <td><input type="checkbox" name="{{ i }}-2"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Upload images:</td>
                    <td><input type="file" name="images" accept="image/png, image/jpeg" multiple/></td>
                </tr>
            </tbody>
        </table>
        <p class="error-text">{{ error_msg }}</p>
        <div class="button-container">
            {% if service %}
                <button type="submit">Update service</button>
            {% else %}
                <button type="submit">Create service</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}