{% extends "base.html" %}

{% block title %}Signup{% endblock %}
{% block content %}
<div class="login-container">
    <div class="login-box">
        <h2>Create account</h2>
        <form action="{{ url_for('user_account_create') }}" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <button type="submit" id="signup">Create account</button>
            <p class="error-text">{{ session.get("failed-login-message", "") }}</p>
        </form>
    </div>
</div>
{% endblock %}