{% extends "home.html" %}

{% block title %}Signup{% endblock %}
{% block content %}
<div class="service-creation-box">
    <form action="{{ url_for('user_service_create') }}" method="POST">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="title">Title:</label>
                    </td>
                    <td>
                        <textarea id="service-title" rows="1" cols="120" name="title" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="description">Description:</label>
                    </td>
                    <td>
                        <textarea id="service-description" rows="7" cols="120" name="description" required></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="category">Category:</label>
                    </td>
                    <td>
                        <select name="category" required>
                            <option value="" disabled selected>Select a category</option>
                            <option value="language">Language learning</option>
                            <option value="software">Software development</option>
                            <option value="music">Music lessons</option>
                            <option value="wellness">Wellness (i.e. meditation, yoga)</option>
                            <option value="other">Other</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Upload images:</td>
                    <td><input type="file" accept="image/png, image/jpeg" /></td>
                </tr>
            </tbody>
        </table>
        <div id="create-service-button-container">
            <button type="submit" id="create-service-button">Create service</button>
        </div>
    </form>
</div>
{% endblock %}