<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="https://kit.fontawesome.com/a1cbf6357e.js" crossorigin="anonymous"></script>
    <title>Tutortime - {% block title%} {% endblock %}</title>
  </head>
  <body>
    <a href="/" id="logo"><h1>Tutortime</h1></a>
    {% block navbar %}{% endblock %}
    {% block content %}{% endblock %}
  </body>
  <footer>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </footer>
</html>