$background: #2e3436;
$background-light: lighten($background, 8%);
$background-lighter: lighten($background, 30%);
$headers: #99C1F1;
$links: #A3BE8C;
$text: #E0E0E0;
$error-text: #b85757;
$login: #5095e9;
$signup: #85b75c;

html {
	background-color: $background;
}
hr {
	border-top: 1px solid $background-lighter;
}
head {
    display: flex;
}
body {
    color: $text;
	width: 70%;
	min-width: 700px;
	max-width: 1500px;
	margin: auto;
    
	font-family: monospace;
    font-size:1rem;
    letter-spacing:-.02em;
}
th {
    text-align: left;
    color: #fff;
    font-weight: bolder;
}
a {
    color: $links;
}
h1, h2, h3, h4, h5, h6 {
    color: $headers;
}
button {
    cursor: pointer;
}

.truncated-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-table {
    width: 100%;
    margin: 0 auto;
}
.nav-table a {
	text-decoration: none;
    color: whitesmoke;
    position: relative;
}
.nav-table th, #user-service-nav th {
    text-align: center;
}
.nav-table th:last-child {
    width: 125px;
}
#user-service-nav {
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
}
.active-subnav-header {
    border: 1.5px solid $links;
    padding: 8px 0px;
    border-radius: 3px;
}
#user-service-table {
    width: 100%;
    padding: 10px;
    border: 1px dashed $links;
}
#user-service-table td:last-child {
    width: 70px;
}
.user-service-status {
    text-decoration: none;
    color: $headers;
    display: block;
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
}
.post {
    padding: 20px;
    border-radius: 5px;
    border: 1px dashed $links;
    margin-top: 25px;
    max-width: 1000px;
}
.post > h2 {
    margin-top: 0px;
}
.post a {
    text-decoration: none;
}
.post .post-truncated-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.availability-flex-container {
    display: flex;
    flex-wrap: wrap;
}
.availability-flex-container > div:first-child {
    flex: 1;
}
.availability-flex-container > div:nth-child(2) {
    flex: 2;
    min-width: 340px;
}
.image-container {
    position: relative;

    & img {
        width: 340px;
        height: 190px;
    }
    &-next {
        position: absolute;
        top: 50%;
        right: 15px;
    }
    &-prev {
        position: absolute;
        top: 50%;
        left: 15px;
    }
    &-next > i, &-prev > i {
        background-color: $background;
        border-radius: 55%;
        opacity: 65%;

        &:hover {
            opacity: 95%;
        }
    }
}
.availability-table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
}
.availability-table tr {
    text-align: center;
}
.availability-table tbody tr:hover {
    background-color: $background-light;
}
.availability-table tbody tr td:first-child {
    text-align: right;
    width: 85px;
}
.availability-table .fa-square-check {
    color: $links;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-box {
    width: 300px;
    background-color: $background;
    padding: 30px;
    padding-top: 0px;
    border-radius: 5px;
    border: 3px solid $headers;
}
.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
.login-box button, #user-service-nav button, .service-creation-box button {
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
}
.login-box button {
    margin-top: 10px;
}
.service-creation-box {
    border: 1px dashed $links;
    padding: 25px;
    margin: 20px;
    box-sizing: border-box;
}
.service-creation-box table.service-creation-table > tbody > tr > td {
    padding-bottom: 30px;
}
.service-creation-box table.service-creation-table > tbody > tr > td:first-child {
    vertical-align: top;
    padding-right: 10px;
    min-width: 140px;
    font-weight: bold;
}
.service-creation-box table {
    width: 100%;
}
.service-creation-box textarea {
    width: 100%;
    box-sizing: border-box;
}
.service-creation-box select, .service-category-box select {
    padding: 5px;
    min-width: 200px;
}
.service-category-box label {
    font-weight: bold;
}
.service-category-box {
    margin-top: 20px;
    margin-left: 20px;
}
.error-text {
    color: $error-text;
}
.fa-pen-to-square {
    color: $headers;
}
.fa-circle-pause {
    color: $background-lighter;
}
.fa-circle-play {
    color: $links;
}
.fa-trash-can {
    color: $error-text;
}
.modal-container {
    position: relative;
}
.calendar-control {
    font-weight: bolder;
    font-size: 20px;
    margin: 20px;

    &-date {
        display: inline-block;
        text-align: center;
        width: 110px;
    }
    &-legend {
        float: right;
        
        &-tutor {
            color: #fc9b10;
            margin: 15px; 
        }
        &-student {
            color: $login;
        }
    }
}
.calendar {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px;
    grid-auto-rows: minmax(120px, auto);
    overflow: auto;
    padding-bottom: 210px;

    &-booking {
        display: block;
        width: 100%;
        text-decoration: none;
        text-align:left;
        border: 2px solid;
        border-radius: 3px;
        margin: 5px 0px;
        padding: 2px 10px;
        font-size: 14px;
        background: #fef0db;

        &-tutor {
            color: #fc9b10;
        }
        &-student {
            color: $login;
        }
        &-container {
            position: relative;
        }
        &-modal {
            position: absolute;
            z-index: 100;
            padding-left: 10px;
            top: -10px;
            width: 250px;
            background-color: $background;
            border: 2px solid $links;
            border-radius: 3px;
        
            & > button {
                float: right;
                background-color: $background;
                color: $background-lighter;
                margin: 15px 8px;
                border: none;
            }
            & > a {
                text-decoration: none;
            }
            &-left {
                left: 105%;
            }
            &-right {
                right: 105%;
            }
        }
    }
}
.day {
    padding: 10px;
    border-bottom: 1px solid $background-light;
    border-right: 1px solid $background-light;

    &:nth-of-type(n + 1):nth-of-type(-n + 7) {
        grid-row: 2;
    }
    &:nth-of-type(n + 8):nth-of-type(-n + 14) {
        grid-row: 3;
    }
    &:nth-of-type(n + 15):nth-of-type(-n + 21) {
        grid-row: 4;
    }
    &:nth-of-type(n + 22):nth-of-type(-n + 28) {
        grid-row: 5;
    }
    &:nth-of-type(n + 29):nth-of-type(-n + 35) {
        grid-row: 6;
    }
    &:nth-of-type(7n + 1) {
        grid-column: 1 / 1;
        border-left: 1px solid $background-light;
    }
    &:nth-of-type(7n + 2) {
        grid-column: 2 / 2;
    }
    &:nth-of-type(7n + 3) {
        grid-column: 3 / 3;
    }
    &:nth-of-type(7n + 4) {
        grid-column: 4 / 4;
    }
    &:nth-of-type(7n + 5) {
        grid-column: 5 / 5;
    }
    &:nth-of-type(7n + 6) {
        grid-column: 6 / 6
        }
    &:nth-of-type(7n + 7) {
        grid-column: 7 / 7;
    }
    &-name {
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        line-height: 50px;
        font-weight: 500;
        border-bottom: 1px solid $background-light;
        border-top: 1px solid $background-light;

        &:nth-of-type(7n + 7) {
            border-right: 1px solid $background-light;
        }
        &:nth-of-type(7n + 1) {
            border-left: 1px solid $background-light;
        }
    }
    &-today {
        background-color: $links;
    }
}

#login {
    background-color: $login;
    margin-bottom: 10px;
}
#signup {
    background-color: $signup;
}
#modal-popout {
    position: absolute;
    z-index: 100;
    padding: 5px;
    top: 7px;
    right: 23px;
    text-align: left;
    background-color: $background;
    border: 1.5px solid $links;
    border-radius: 3px;
}
#modal-popout ul {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}
#modal-popout ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}
#create-service {
    background-color: $signup;
    max-width: 130px;
}
#create-service-button {
    max-width: 250px;
    background-color: $signup;
}
#create-service-button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#service-title {
    resize: none;
    font-size: 1rem;
}
#logo {
    width: 100%;
	text-decoration: none;
    text-align: center;
    font-family: Georgia, serif;
    color: $headers;
}