:root {
    --background: #2e3436;
    --headers: #99C1F1;
    --navbar: #808080;
    --links: #A3BE8C;
    --text: #E0E0E0;
    --error-text: #b85757;
    --login: #5095e9;
    --signup: #85b75c;
}

html {
	background-color: var(--background);
}
hr {
	border-top: 1px solid var(--navbar);
}
head {
    display: flex;
}
body {
    color: var(--text);
	width: 70%;
	min-width: 700px;
	max-width: 1500px;
	margin: auto;
    
	font-family: monospace;
    font-size:1rem;
    letter-spacing:-.02em;
}
th {
    text-align: left;
    color: #fff;
    font-weight: bolder;
}
a {
    color: var(--links);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--headers);
}

.nav-table {
    width: 100%;
    margin: 0 auto;
}
.nav-table a, .subnav-table a {
	text-decoration: none;
    color: whitesmoke;
    position: relative;
}
.nav-table th, .subnav-table th {
    text-align: center;
}
.nav-table th:last-child {
    width: 125px;
}
.subnav-table {
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
}
.active-subnav-header {
    border: 1.5px solid var(--links);
    padding: 6px;
    border-radius: 3px;
}
.user-service-table {
    width: 100%;
    padding: 10px;
    border: 1px dashed var(--links);
}
.user-service-table td:last-child {
    width: 70px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
}
.post {
    padding: 20px;
    border-radius: 5px;
    border: 1px dashed var(--links);
}
.post img {
    max-width: 100%;
    height: auto;
}
.login-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-box {
    width: 300px;
    background-color: var(--background);
    padding: 30px;
    padding-top: 0px;
    border-radius: 5px;
    border: 3px solid var(--headers);
}
.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
.login-box button, .subnav-table button {
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
}
.login-box button {
    margin-top: 10px;
}
.error-text {
    color: var(--error-text);
}
.fa-pen-to-square {
    color: var(--headers);
}
.fa-circle-pause {
    color: var(--navbar);
}
.fa-circle-play {
    color: var(--links);
}
.fa-trash-can {
    color: var(--error-text);
}
.modal-container {
    position: relative;
}

#login {
    background-color: var(--login);
    margin-bottom: 10px;
}
#signup {
    background-color: var(--signup);
}
#modal-popout {
    position: absolute;
    z-index: 100;
    padding: 5px;
    top: 7px;
    right: 23px;
    text-align: left;
    background-color: var(--background);
    border: 1.5px solid var(--links);
    border-radius: 3px;
}
#modal-popout ul {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}
#modal-popout ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}
#create-service {
    background-color: var(--signup);
    max-width: 130px;
}
#logo {
    width: 100%;
    text-align: center;
    font-family: Georgia, serif;
    color: var(--headers);
}