{% extends "home.html" %}
{% block title %}Calendar{% endblock %}
{% block content %}
    <div x-data="{ month: 12 }">
        <div class="calendar-control">
            <button x-show="month != 0" @click="month = month == 0 ? month : month - 1"><i class="fa-solid fa-chevron-left fa-xl"></i></button>
            {% for i in range(calendar|length) %}
                <span class="calendar-control-date" x-show="month == {{ i }}">{{ calendar[i]["month_name"] }}</span>
            {% endfor %}
            <button x-show="month != 24" @click="month = month == 24 ? month : month + 1"><i class="fa-solid fa-chevron-right fa-xl"></i></button>
            {% for i in range(calendar|length) %}
                <span class="calendar-control-date" x-show="month == {{ i }}">{{ calendar[i]["year"] }}</span>
            {% endfor %}
            <span class="calendar-control-legend">
                <span class="calendar-control-legend-tutor"><i class="fa-solid fa-square"></i> - Tutor</span>
                <span class="calendar-control-legend-student"><i class="fa-solid fa-square"></i> - Student</span>
            </span>
        </div>
        {% for i in range(calendar|length) %}
            <div class="calendar" x-data="{ modal: -1 }" x-show="month == {{ i }}">
                <span class="day-name">Mon</span> 
                <span class="day-name">Tue</span> 
                <span class="day-name">Wed</span> 
                <span class="day-name">Thu</span> 
                <span class="day-name">Fri</span> 
                <span class="day-name">Sat</span> 
                <span class="day-name">Sun</span>
                {% for j in range(calendar[i]["month_offset"]) %}
                    <div class="day day-disabled"></div>
                {% endfor %}
                {% for j in range(1,calendar[i]["month_length"]+1) %}
                    {% if i == 12 and j == today %}
                        <div class="day day-today">
                    {% else %}
                        <div class="day">
                    {% endif %}
                            {{ j }}
                            {% for lesson in calendar[i]["lessons"] %}
                                {% if lesson.day == "%d-%02d-%02d" % (calendar[i].year, calendar[i].month, j) %}
                                    <div class="relative-container">
                                    {% if lesson.status == "accepted_student" or lesson.status == "accepted_tutor" %}
                                        <button class="calendar-lesson pending" x-on:click="modal = modal == {{ lesson.id }} ? -1 : {{ lesson.id }}">
                                    {% elif lesson.tutor_id == session["user_id"] %}
                                        <button class="calendar-lesson tutor" x-on:click="modal = modal == {{ lesson.id }} ? -1 : {{ lesson.id }}">
                                    {% else %}
                                        <button class="calendar-lesson student" x-on:click="modal = modal == {{ lesson.id }} ? -1 : {{ lesson.id }}">
                                    {% endif %}
                                            <b>{{ lesson.time }}</b><br>
                                            {% if lesson.status == 'pending' %}
                                                {{ lesson.title }} (pending)
                                            {% else %}    
                                                {{ lesson.title }}
                                            {% endif %}
                                        </button>
                                        {% if (j + calendar[i]["month_offset"] - 1) % 7 <= 3 and (j + calendar[i]["month_offset"]) <= 21 %}
                                            <span class="lesson-modal open-right open-down" x-show="modal == {{ lesson.id }}">
                                        {% elif (j + calendar[i]["month_offset"] - 1) % 7 > 3 and (j + calendar[i]["month_offset"]) <= 21 %}
                                            <span class="lesson-modal open-left open-down" x-show="modal == {{ lesson.id }}">
                                        {% elif (j + calendar[i]["month_offset"] - 1) % 7 <= 3 and (j + calendar[i]["month_offset"]) > 21 %}
                                            <span class="lesson-modal open-right open-up" x-show="modal == {{ lesson.id }}">
                                        {% else %}
                                            <span class="lesson-modal open-left open-up" x-show="modal == {{ lesson.id }}">
                                        {% endif %}
                                                <button x-on:click="modal = -1"><i class="fa-regular fa-circle-xmark fa-xl"></i></button>
                                                <a href="{{ url_for('service.service_display', service_id=lesson.service_id) }}"><h3 class="truncated-text">{{ lesson.title }}</h3></a>
                                                <p>Time: {{ lesson.time }}</p>
                                                <p>Duration: {{ lesson.proposed_duration }} minutes</p>
                                                <p class="truncated-text">Description: {{ lesson.description }}</p>
                                                <p>Tutor: {{ lesson.tutor_name }}</p>
                                                <p>Student: {{ lesson.student_name }}</p>
                                            </span>
                                    </div> 
                                {% endif %}
                            {% endfor %} 
                        </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}