{% extends "home.html" %}
{% block title %}Messages{% endblock %}
{% block content %}
<div id="chat-container" x-data="{ request_service: 0 }">
    <div id="contacts">
        <h2>Contacts</h2>
        <ul>
            {% for i in range(contacts | length) %}
                <a href="{{ url_for('message.message_list', user_id=contacts[i].id) }}">
                    <li :class="{{ peer.id }} == {{ contacts[i].id }} && 'active'">
                        <span :class="'{{ new_msgs[i] }}' == 'True' && 'new-messages'">{{ contacts[i].username }}</span>
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>
    <div id="chat">
        <h2>{{ peer.username }}</h2>
        <div id="chat-messages" :class="request_service > 1 && 'minimized'"></div>
        <div id="chat-lesson-request" x-show="request_service > 1">
            <form @submit.prevent="request_service = sendLessonRequest(request_service)">
                <div class="flex-container">
                    <h3 id="service-title"></h3>
                    <i id="cancel-request-button" @click="request_service = 0" class="fa-regular fa-circle-xmark fa-lg"></i>
                </div>
                <input id="service-or-lesson-id" type="hidden">
                <input id="service-tutor-id" type="hidden">
                <label for="lesson-date">Datetime: </label>
                <input id="lesson-date" name="lesson-date" type="date" min="{{ today }}" required>
                <input id="lesson-time" name="lesson-time" type="time" required>
                <label for="lesson-duration">Duration: </label>
                <select id="lesson-duration">
                    {% for i in range(1, 17) %}
                        {% if i <= 4 %}
                            <option value="{{ i * 15 }}">{{ i * 15 }} minutes</option>
                        {% else %}
                            <option value="{{ i * 15 }}">{{ i//4 }} hour {{ (i % 4) * 15 }} minutes</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button id="send-request-button" x-show="request_service == 2">Send</button>
                <button id="modify-request-button" x-show="request_service == 3">Modify</button>
                <p id="lesson-request-error"></p>
            </form>
        </div>
        <div id="chat-input">
            <input type="text" placeholder="Type your message..." @keydown.enter="sendMessage()" id="message" name="message"/>
            <button id="send-message-button" @click="sendMessage()">Send</button>
        </div>
    </div>
    <div id="lessons" x-data="{ completed: 'False' }">
        <h2>Lessons</h2>
        <div class="flex-container subnav" x-show="request_service == 0 || request_service == 3">
            <button :class="completed == 'False' && 'active'" @click="completed = 'False'">Scheduled</button>
            <button :class="completed == 'True' && 'active'" @click="completed = 'True'">Completed</button>
        </div>
        <div class="lesson-container" x-show="request_service == 0 || request_service == 3">
            {% set ns = namespace() %}
            {% set ns.completed = false %}
            {% set ns.scheduled = false %}
            {% for lesson in lessons %}
                {% if lesson.completed %}
                    {% set ns.completed = true %}
                {% else %}
                    {% set ns.scheduled = true %}
                {% endif %}
            {% endfor %}
            
            {% for lesson in lessons %}
                <div class="lesson-item lesson-confirmed-item" :class="'{{ lesson.modified }}' == 'True' && '{{ lesson.status }}' != 'confirmed' ? 'warning' : ''" x-data="{ modify: false }" x-show="'{{ lesson.completed }}' == completed">
                    <a href="{{ url_for('service.service_list', service_id=lesson.service_id) }}"><h4>{{ lesson.title }}</h4></a>
                    <p>Day: {{ lesson.day }}</p>
                    <p>Time: {{ lesson.time }}</p>
                    {% if lesson.modified and lesson.status != 'confirmed' %}
                        <p x-show="modify == false">Scheduled duration: {{ lesson.proposed_duration }} minutes</p>
                        <p class='warning-text' x-show="modify == false">Modified duration: {{ lesson.actual_duration }} minutes</p>
                    {% else %}
                        <p x-show="modify == false">Duration: {{ lesson.proposed_duration }} minutes</p>
                    {% endif %}

                    {% if lesson.completed %}
                        {% if lesson.status == 'confirmed' %}
                            <p>Status: confirmed</p>
                        {% elif lesson.status == 'accepted' or (lesson.status == 'confirmed_tutor' and lesson.tutor_id != user.id) or (lesson.status == 'confirmed_student' and lesson.student_id != user.id) %}
                            <p x-show="modify == true">Duration: <input type="number" id="{{ lesson.id }}-duration" min="0" step="15" value="{{ lesson.proposed_duration }}"/>  minutes</p>
                            <p>Status: pending confirmation</p>
                            <button class='accept-button' @click="sendConfirmRequest({{ lesson.id }})" x-show="modify == false">Confirm</button>
                            <button class='accept-button' @click="sendConfirmRequestModify({{ lesson.id }})" x-show="modify">Confirm</button>
                            <button class='modify-button' @click="modify = true" x-show="modify == false">Modify</button>
                            <button class='cancel-button' @click="modify = false" x-show="modify">Cancel</button>
                        {% else %}
                            <p>Status: pending confirmation</p>
                        {% endif %}
                    {% else %}
                        <button class='cancel-button' @click="sendCancelRequest({{ lesson.id }})">Cancel</button>
                    {% endif %}
                </div>
            {% endfor %}

            {% if ns.completed == false %}
                <div class="lesson-empty-item" x-show="completed == 'True'">No completed lessons</div>
            {% endif %}
            {% if ns.scheduled == false %}
                <div class="lesson-empty-item" x-show="completed == 'False'">No scheduled lessons</div>
            {% endif %}
        </div>
        <form class="lesson-container without-subnav" x-show="request_service == 1 || request_service == 2" autocomplete="off">
            {% set ns = namespace() %}
            {% set ns.student_lessons = false %}
            {% set ns.tutor_lessons = false %}
            {% for service in services %}
                {% if service.user_id != user.id %}
                    {% set ns.student_lessons = true %}
                {% else %}
                    {% set ns.tutor_lessons = true %}
                {% endif %}
            {% endfor %}

            {% if ns.student_lessons %}
                <h4>As a student:</h4>
            {% endif %}
            {% for service in services %}
                {% if service.user_id != user.id %}
                    <label class="lesson-request-item" @click="lessonRequest({{ service.id }}); request_service = 2; scrollToBottom()" for="service-{{ service.id }}">
                        <input type="radio" name="service" id="service-{{ service.id }}"> {{ service.title }}
                    </label>
                {% endif %}
            {% endfor %}
            
            {% if ns.tutor_lessons %}
                <h4>As a tutor:</h4>
            {% endif %}
            {% for service in services %}
                {% if service.user_id == user.id %}
                    <label class="lesson-request-item" @click="lessonRequest({{ service.id }}); request_service = 2; scrollToBottom()" for="service-{{ service.id }}">
                        <input type="radio" name="service" id="service-{{ service.id }}"> {{ service.title }}
                    </label>
                {% endif %}
            {% endfor %}
        </form>
        <button class="lesson-view-switch request-lessons" @click="clearRadioButtons(); request_service = 1" x-show="request_service == 0 || request_service == 3"><i class="fa-solid fa-handshake fa-lg"></i> Send lesson request</button>
        <button class="lesson-view-switch view-lessons" @click="request_service = 0" x-show="request_service == 1 || request_service == 2"><i class="fa-regular fa-calendar-days fa-lg"></i> View lessons</button>
    </div>
</div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        const userId = {{ user.id }}
        const peerId = {{ peer.id }}
        const services = {{ services|tojson }};
        var userMinutes = {{ user.minutes }}
        var peerMinutes = {{ peer.minutes }}
        var messages = {{ messages|tojson }};
        
        function modifyRequest(lesson_id) {
            for (const message of messages) {
                if ("lesson" in message && message.lesson.id == lesson_id) {
                    document.getElementById("service-or-lesson-id").value = message.lesson.id;
                    document.getElementById("service-tutor-id").value = message.lesson.tutor_id;
                    document.getElementById("service-title").innerHTML = `${message.lesson.title}`;
                    document.getElementById("lesson-date").value = `${message.lesson.day}`;
                    document.getElementById("lesson-time").value = `${message.lesson.time}`;
                    document.getElementById("lesson-duration").value = message.lesson.proposed_duration;
                    break;
                }
            }
        }
        function lessonRequest(service_id) {
            for (const service of services) {
                if (service.id == service_id) {
                    document.getElementById("service-or-lesson-id").value = service.id;
                    document.getElementById("service-tutor-id").value = service.user_id;
                    document.getElementById("service-title").innerHTML = `${service.title}`;
                    document.getElementById("lesson-date").value = "";
                    document.getElementById("lesson-time").value = "";
                    document.getElementById("lesson-duration").value = "15";
                    document.getElementById("lesson-request-error").innerHTML = "";
                    break;
                }
            }
        }
        function clearRadioButtons(){
            var radioButtons = document.getElementsByName('service');
            for (var i = 0; i < radioButtons.length; i++) {
                radioButtons[i].checked = false;
            }
        }

        function createMessageItem(message) {
            var messageContainer = document.getElementById("chat-messages");
            
            if (message.sender == null){
                var content = `<div class="flex-container-system"><span class="message-item-system">${message.message}</span></div>`
            } else if (message.sender === userId) {
                var content = `<div class="flex-container-user"><span class="message-item">${message.message}</span></div>`
            } else {
                var content = `<div class="flex-container-peer"><span class="message-item">${message.message}</span></div>`
            }
            messageContainer.innerHTML += content;
        }
        function createLessonItem(message) {
            if (message.lesson.status == 'accepted' || message.lesson.status == 'cancelled'|| message.lesson.status.startsWith('confirmed')) {
                return;
            }

            var messageContainer = document.getElementById("chat-messages");
            var div = document.createElement("div")
            if (message.sender === userId) {
                div.className = 'flex-container-user'
            } else {
                div.className = 'flex-container-peer'
            }
            
            var sufficientMins = ((message.lesson.tutor_id == userId && message.lesson.proposed_duration <= peerMinutes) || 
                                  (message.lesson.tutor_id != userId && message.lesson.proposed_duration <= userMinutes)) 
            var span = document.createElement("span")
            span.className = "message-item lesson-item"
            span.innerHTML = `<div class="title">${message.lesson.title}</div>`
            span.innerHTML +=`<div>Day: ${message.lesson.day}</div>`
            span.innerHTML +=`<div>Time: ${message.lesson.time}</div>`
            span.innerHTML +=`<div>Duration: ${message.lesson.proposed_duration} minutes</div>`
            
            var acceptButton = `<button class='accept-button' @click="sendAcceptRequest(${message.lesson.id})">Accept</button> `;
            var cancelButton = `<button class='cancel-button' @click="sendCancelRequest(${message.lesson.id})">Cancel</button> `
            var modifyButton = `<button class='modify-button' @click="modifyRequest(${message.lesson.id}); request_service = 3;">Modify</button> `

            if (message.lesson.status == 'accepted_student' || message.lesson.status == 'accepted_tutor') {
                if (sufficientMins) {
                    span.innerHTML +=`<div>Status: pending</div>`;
                } else {
                    span.innerHTML +=`<div>Status: <span class="error-text">Student does not have enough minutes to accept this lesson</span></div>`;
                }

                if (message.sender != userId && sufficientMins) {
                    span.innerHTML += acceptButton;
                }
                span.innerHTML += modifyButton;
                span.innerHTML += cancelButton
            } else {
                span.innerHTML +=`<div>Status: ${message.lesson.status}</div>`;
            }
            div.appendChild(span);
            messageContainer.appendChild(div);
        }
        function createChatItems(messages) {
            messages.forEach((message, index) => {
                if ("lesson" in message) {
                    createLessonItem(message);
                } else {
                    createMessageItem(message);
                }
            });
        }

        var socketio = io();
        socketio.on("message", function(message) { messages.push(message); createMessageItem(message); scrollToBottom(); } );
        socketio.on("createLesson", function(message) { messages.push(message); createLessonItem(message); scrollToBottom(); } );
        socketio.on("pageReload", function(message) { window.location.reload(); } );

        function sendMessage() {
            var msgInput = document.getElementById("message");
            if (msgInput.value === "") return;
            var msg = msgInput.value;
            socketio.emit("message", { message: msg, peer_id: peerId });
            msgInput.value = "";
        }
        function sendLessonRequest(request_type) {
            var service_id = document.getElementById("service-or-lesson-id").value;
            var tutor_id = document.getElementById("service-tutor-id").value;
            var date = document.getElementById("lesson-date").value;
            var time = document.getElementById("lesson-time").value;
            var duration = document.getElementById("lesson-duration").value;

            // Verify that the student has enough minutes to make the request
            if ((tutor_id == userId && duration > peerMinutes) || (tutor_id != userId && duration > userMinutes)) {
                document.getElementById("lesson-request-error").innerHTML = "Student does not have enough minutes to accept this lesson";
                return request_type;
            }
            // Verify that the lesson is not in the past
            const selectedDatetime = new Date(`${date}T${time}`);
            const comparedDatetime = new Date();
            comparedDatetime.setMinutes(comparedDatetime.getMinutes() - 5);
            if (selectedDatetime < comparedDatetime) {
                document.getElementById("lesson-request-error").innerHTML = "Lessons cannot be created in the past";
                return request_type;
            }

            var lesson = { "peer_id": peerId, "date": date, "time": time, "duration": duration };
            if (request_type == 2) {
                lesson["service_id"] = service_id;
                socketio.emit("createLesson", lesson);
            } else {
                lesson["lesson_id"] = service_id;
                socketio.emit("modifyLesson", lesson);
            }
            return 0;
        }
        function sendAcceptRequest(lesson_id) {
            socketio.emit("acceptLesson", { "lesson_id": lesson_id });
        }
        function sendConfirmRequest(lesson_id) {
            socketio.emit("confirmLesson", { "lesson_id": lesson_id });
        }
        function sendConfirmRequestModify(lesson_id) {
            var duration = document.getElementById(`${lesson_id}-duration`).value;
            socketio.emit("confirmLesson", { "lesson_id": lesson_id, "duration": duration });
        }
        function sendCancelRequest(lesson_id) {
            socketio.emit("cancelLesson", { "lesson_id": lesson_id });
        }

        function scrollToBottom() {
            var scrollContainer = document.getElementById("chat-messages");
            scrollContainer.scrollTop = scrollContainer.scrollHeight;
        }
        function focusInput() {
            const inputElement = document.getElementById("message");
            inputElement.focus()
        }
        createChatItems(messages);
        scrollToBottom();
        focusInput();
    </script>
{% endblock %}