<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <link href="{{ url_for('static', filename='css/style.scss.css') }}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/theme.js') }}" type="text/javascript"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Tutortime</title>
  </head>
  <body>
    {% block navbar %}{% endblock %}
    <div class="body-content">
      {% block content %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
    <div id="theme-switch-container" x-data="{ data: '' }">
      <button @click="themeToggle()"><i class="fa-solid fa-moon fa-xl"></i></button>
    </div>
  </body>
  {% block script %}{% endblock %}
</html>