{% extends "base.html" %}

{% block navbar %}
<div id="home-nav-container">
    <div id=home-nav>
        <a href="{{ url_for('service.service_list') }}"><h1>Tutortime</h1></a>
        <ul>
            <li><a href="{{ url_for('service.service_list') }}"><h3>Take lessons</h3></a></li>
            <li><a href="{{ url_for('service.user_service_list', status='active') }}"><h3>Give lessons</h3></a></li>
            <li><a href=""><h3>About</h3></a></li>
        </ul>
                
        <ul class="user-buttons" x-data="{ open: false }">
            {% if session.get("user_id", 0) %}
                    <li><a href="{{ url_for('user.user_calendar_list') }}"><i class="fa-regular fa-calendar-days fa-lg"></i></a></li>
                    <li>
                    {% if new_messages %}
                        <a href="{{ url_for('message.message_list') }}"><i class="fa-solid fa-paper-plane fa-lg new-messages"></i></a>
                    {% else %}
                        <a href="{{ url_for('message.message_list') }}"><i class="fa-regular fa-paper-plane fa-lg"></i></a>
                    {% endif %}
                    </li>
                    <li><span @click="open = !open"><i class="fa-regular fa-user fa-lg"></i></span></li>
                    <div class="relative-container" x-show="open">
                        <div id="user-modal-popout">
                            <div><a href="{{ url_for('user.user_account_list') }}"><div class="options">Profile</div></a></div>
                            <div><a href="{{ url_for('user.user_account_logout') }}"><div class="options">Logout</div></a></div>
                        </div>
                    </div>
            {% else %}
                <a href="{{ url_for('user.user_account_login') }}"><i class="fa-regular fa-user fa-lg"></i></a>
            {% endif %}
        </ul>
    </div>
</div>
<hr>
{% endblock %}
