@import "@/assets/styles/mixins.scss";

[data-theme="dark"] {
  --base0: #2e3436;
  --base1: #3e4648;
  --base2: #808080;
  --base3: #fdf6e3;
  --text0: #E0E0E0;
  --text1: #fff;
  --text2: #808080;
  --green0: #a3be8c;
  --green1: #85b75c;
  --blue0: #5095e9;
  --blue1: #99C1F1;
  --orange: #fc9b10;
  --red0: #b85757;
  --red1: #b85757;
}

[data-theme="light"] {
  --base0: #fdf6e3;
  --base1: #eee8d5;
  --base2: #93a1a1;
  --base3: #fdf6e3;
  --text0: #586e75;
  --text1: #fff;
  --text2: #586e75;
  --green0: #68be76;
  --green1: #68be76;
  --blue0: #268bd2;
  --blue1: #268bd2;
  --orange: #fc9b10;
  --red0: #cd8989;
  --red1: #b85757;
}

* {
  font-family: "Nunito", sans-serif;
}

html {
  background-color: var(--base0);
}

hr {
  border-top: 1px solid var(--base2);
  margin-top: 0px;
}

body {
  margin: 0;
  font-weight: 500;
  font-size: 17px;
  font-style: normal;
  color: var(--text0);
}

th {
  text-align: left;
  font-weight: bolder;
}

a {
  color: var(--green0);
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--blue1);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

pre {
  white-space: pre-wrap;
}

.error-text {
  color: var(--red1);
}

.relative-container {
  position: relative;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-pen-to-square {
  color: var(--blue1);
}

.fa-circle-pause {
  color: var(--base2);
}

.fa-circle-play {
  color: var(--green0);
}

.fa-trash-can {
  color: var(--red1);
}

.truncated-text {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  border: 1px dashed var(--green0);
  margin-top: 25px;

  button {
    @include common-button;
    background-color: var(--green1);
  }
}

.cancel-circle-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: var(--red0);
  }
  i {
    color: var(--text0);
  }
}

/* Tooltip container */
.tooltip {
  margin-left: 8px;
  position: relative;
  display: inline-block;
}

@mixin tooltiptext {
  visibility: hidden;
  width: 230px;
  text-align: center;
  padding: 10px 5px;
  border-radius: 3px;
  border: 1px solid var(--green0);
  background-color: var(--green1);
  background: var(--base0);

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .bottomleft {
  @include tooltiptext;
  margin-top: 23px;
  margin-left: -220px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.standard-table {
  width: 100%;
  border: 1px dashed var(--green0);
  border-spacing: 0;

  thead {
    font-weight: bold;
    background-color: var(--base1);
  }
  td {
    padding: 8px 8px;
  }
  tbody tr:hover {
    background-color: var(--base1);
  }
}

.availability-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  tr {
    text-align: center;

    td:first-child {
      text-align: left;
      width: 70px;
    }
    .fa-square-check {
      color: var(--green0);
    }
  }
  tbody tr:hover {
    background-color: var(--base1);
  }
}