
{% extends "home.html" %}
{% block content %}
    <div class="post-flex-container">
        <div class="post" x-data="{ image: 0 }">
            <h2>{{ service.title }}</h2>
            <p>offered by: {{ user.username }}</p>
            <div class="availability-flex-container">
                <span class="image-container">
                    {% for i in range(service.images|length) %}
                        <img x-show="image == {{ i }}" src="/{{ service.images[i].path }}" alt="{{ service.images[i].filename }}">
                    {% endfor %}
                    {% if service.images|length > 1 %}
                        <button class="image-prev" @click="image = image == 0 ? {{ service.images|length }} - 1 : (image - 1)"><i class="fa-regular fa-circle-left fa-2x"></i></button>
                        <button class="image-next" @click="image = (image + 1) % {{ service.images|length }}"><i class="fa-regular fa-circle-right fa-2x"></i></button>
                    {% endif %}
                </span>
                <div>
                    <p style="text-align: center;"><b>Availability:</b></p>
                    <table class="availability-table">
                        <thead>
                            <tr>
                                <td>   </td>
                                <td>Mon</td>
                                <td>Tue</td>
                                <td>Wed</td>
                                <td>Thu</td>
                                <td>Fri</td>
                                <td>Sat</td>
                                <td>Sun</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>morning</td>
                                {% for i in range(7) %}
                                    {% if i|string ~ "-0" in availability %}
                                        <td><i class="fa-regular fa-square-check"></i></td>
                                    {% else  %}
                                        <td><i class="fa-regular fa-square"></i></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>afternoon</td>
                                {% for i in range(7) %}
                                    {% if i|string ~ "-1" in availability %}
                                        <td><i class="fa-regular fa-square-check"></i></td>
                                    {% else  %}
                                        <td><i class="fa-regular fa-square"></i></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>evening</td>
                                {% for i in range(7) %}
                                    {% if i|string ~ "-2" in availability %}
                                        <td><i class="fa-regular fa-square-check"></i></td>
                                    {% else  %}
                                        <td><i class="fa-regular fa-square"></i></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p>{{ service.description }}</p>
            {% if session.get("user_id") != service.user_id %}
                <a href="{{ url_for('message.message_list', user_id=user.id) }}"><button class="message-tutor-button"><i class="fa-regular fa-paper-plane"></i> Message tutor</button></a>
            {% endif %}
        </div>
    </div>
{% endblock %}