{% extends "home.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div>
        <form id="service-filter-box" action="{{ url_for('service.service_list') }}" method="GET">
            <select name="category">
                <option value="">All</option>
                
                {% if category == "language" %}
                    <option value="language" selected>Language learning</option>
                {% else %}
                    <option value="language">Language learning</option>
                {% endif %}

                {% if category == "software" %}
                    <option value="software" selected>Software development</option>
                {% else %}
                    <option value="software">Software development</option>
                {% endif %}

                {% if category == "music" %}
                    <option value="music" selected>Music lessons</option>
                {% else %}
                    <option value="music">Music lessons</option>
                {% endif %}
                
                {% if category == "wellness" %}
                    <option value="wellness" selected>Wellness</option>
                {% else %}
                    <option value="wellness">Wellness</option>
                {% endif %}
                
                {% if category == "other" %}
                    <option value="other" selected>Other</option>
                {% else %}
                    <option value="other">Other</option>
                {% endif %}
            </select>
            <input type="text" placeholder="Search..." value="{{ search }}" name="search">
            <button><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
        </form>
        <div class="post-grid-container">
            {% for service in services %}
                <div class="post" x-data="{ image: 0 }">
                    <a href="{{ url_for('service.service_display', service_id=service.id) }}">
                        <div class="image-container">
                            {% for i in range(service.images|length) %}
                                <img x-show="image == {{ i }}" src="{{ service.images[i].path }}" alt="{{ service.images[i].filename }}">
                            {% endfor %}
                            {% if service.images|length > 1 %}
                                <button class="image-prev" @click.prevent="image = image == 0 ? {{ service.images|length }} - 1 : (image - 1)"><i class="fa-regular fa-circle-left fa-2x"></i></button>
                                <button class="image-next" @click.prevent="image = (image + 1) % {{ service.images|length }}"><i class="fa-regular fa-circle-right fa-2x"></i></button>
                            {% endif %}
                        </div>
                    </a>
                    <a href="{{ url_for('service.service_display', service_id=service.id) }}">
                        <h3>{{ service.title }}</h3>
                    </a>
                    <p class="truncated-text">{{ service.description }}</p>
                    <p>{{ service.user.username }}</p>
                </div>
            {% endfor %}
        </div>
        <div id="service-page-control">
            {% if prev_page %}
                <a href="{{ url_for('service.service_list', page=prev_page) }}"><i class="fa-solid fa-chevron-left"></i></a>
            {% endif %}
            {% for page in other_pages %}
                {% if page %}
                    {% if page == cur_page %}
                        <a class="active-page" href="{{ url_for('service.service_list', page=page) }}">{{page}}</a>
                    {% else %}
                        <a href="{{ url_for('service.service_list', page=page) }}">{{page}}</a>
                    {% endif %}
                {% else %}
                    <i class="fa-solid fa-ellipsis"></i>
                {% endif %}
            {% endfor %}
            {% if next_page %}
                <a href="{{ url_for('service.service_list', page=next_page) }}"><i class="fa-solid fa-chevron-right"></i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
